@import "compass";
/* reset  list style */
nav,
nav ul {
	list-style: none;
}

/* set menu position; change here to set to relative or float, etc. */
.sticky-wrapper {
	box-shadow:0 0px 0px rgba(0, 0, 0, .3);
}
nav {
	opacity: 1;
	display: block;
	position: relative;
	height: 80px;
	z-index: 9999;
	width: 100%;
	background: #fff;
	text-align: right;
	padding: 1em 2.8em;
	margin: 0 auto;
	border-bottom: 1px solid $grey_light;
	font-family: $heading_family;
	font-weight: 200;
	
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
nav li.current { 
	font-style: bold; 
	font-weight: 400;
}
nav{
 .logo{
	@include span-columns(1);
	color:#373941;
  	h3{
  		color:#373941;
  		line-height: 1.3em;
  	}
  }
}
/* first level menu items */
nav > li+li {
  	border-left: 1px solid $grey_light;
 	//-moz-box-shadow: -1px 0px 0px #302030;
  	//-webkit-box-shadow: -1px 0px 0px #302030;
  	//box-shadow: -1px 0px 0px #302030;
 }
nav > li {
	display: inline-block;
	position: relative;
	text-align: center;	
}

nav > li > a {
	line-height: 2.6em;
	padding: 0 2em;
	width: 100%;
	font-size: 1.1em;
	display: block;
	color: $primary; 
	text-transform: lowercase;
}
nav li:hover a,
.no-touch nav > li > a:hover,
.no-touch nav > li > a:active {
	color:$secondary;
	
}

/* sumbenu with transitions */
.cbp-tm-submenu {
	position: absolute;
	display: block;
	visibility: hidden;
	opacity: 0;
	padding: 0;
	text-align: left;
	pointer-events: none;
	-webkit-transition: visibility 0s, opacity 0s;
	-moz-transition: visibility 0s, opacity 0s;
	transition: visibility 0s, opacity 0s;
	box-shadow:0 2px 4px rgba(0, 0, 0, .3);
}

.cbp-tm-show .cbp-tm-submenu {
	width: 19.5em;
	left: 50%;
	margin: 0 0 0 -8em;
	opacity: 1;
	visibility: visible;
	pointer-events: auto;
	-webkit-transition: visibility 0s, opacity 0.3s;
	-moz-transition: visibility 0s, opacity 0.3s;
	transition: visibility 0s, opacity 0.3s;
}

.cbp-tm-show-above .cbp-tm-submenu {
	bottom: 100%;
	padding-bottom: 10px;
}

.cbp-tm-show-below .cbp-tm-submenu {
	top: 100%;
	padding-top: 10px;
}

/* extreme cases: not enough space on the sides */
.cbp-tm-nospace-right .cbp-tm-submenu {
	right: 0;
	left: auto;
}

.cbp-tm-nospace-left .cbp-tm-submenu {
	left: 0;
}

/* last menu item has to fit on the screen */
nav > li:last-child .cbp-tm-submenu {
	right: 0;
}

/* 	
arrow: depending on where the menu will be shown, we set 
the right position for the arrow
*/

.cbp-tm-submenu:after {
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.cbp-tm-show-above .cbp-tm-submenu:after {
	top: 100%;
	margin-top: -10px;
}

.cbp-tm-show-below .cbp-tm-submenu:after {
	bottom: 100%;
	margin-bottom: -10px;
}

.cbp-tm-submenu:after {
	border-color: transparent;
	border-width: 16px;
	margin-left: -16px;
	left: 50%;
}

.cbp-tm-show-above .cbp-tm-submenu:after {
	border-top-color: #fff;
}

.cbp-tm-show-below .cbp-tm-submenu:after {
	border-bottom-color: #fff;
}

.cbp-tm-submenu > li {
	display: block;
	background: #fff;
}

.cbp-tm-submenu > li > a {
	padding: 5px 2.3em 5px 0.6em; /* top/bottom paddings in 'em' cause a tiny "jump" in Chrome on Win */
	display: block;
	font-size: 1.2em;
	position: relative;
	color: $primary !important;
	border: 4px solid #fff;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	transition: all 0.2s;
}

.no-touch .cbp-tm-submenu > li > a:hover,
.no-touch .cbp-tm-submenu > li > a:active {
	color: #fff !important;
	background:$primary;
}

/* the icons (main level menu icon and sublevel icons) */
.cbp-tm-submenu li a:before,
nav > li > a:before {
	font-family: 'wckd';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	vertical-align: middle;
	margin-right: 0.6em;
	-webkit-font-smoothing: antialiased;
}

.cbp-tm-submenu li a:before {
	position: absolute;
	top: 50%;
	margin-top: -0.5em;
	right: 0.5em;
}


nav > li > a:not(:only-child):before {
	content: "\e828";
	font-size: 80%;
	vertical-align: middle;
	line-height:2em;
	margin-bottom:1em;
	opacity: 0.3;
}
nav.cbp-tm-menu-open {
	top: 50px;

}

nav > li > a:hover, .topbar{
	background: #fff;
}

.topbar {
	visibility:hidden;
	display:none; 
	position:absolute; 
	top:0; 
	margin:0; 
	padding: 10px; 
	width: 100%; 
	height: 50px; 
	z-index: 2000; 
	
}
.topbar button {
	background:none;
	-webkit-appearance: none;
	border:none;
	display: block; 
	position: relative; 
	float: right; 
	height: 30px; 
	color: $primary;
	font-size: 70%;
	font-family: 'wckd';
	border-left: 1px solid $grey_light;
	padding: 0 0 0 10px;
}
.topbar button:before {
	content: "\e828";
	font-size: 200%;
}
.topbar span {
	position: relative;
	text-align: center;
	padding-top:40px;
	padding-left:35%;
}
.topbar .icon-phone {
	font-family: 'wckd';
	display: block;
	position:relative;
	float:left;
	border-right: 1px solid $grey_light;
	padding: 0 10px 0 3px;
	height: 30px;
}

a.menu-link {
	float: right;
	display: block;
	padding: 1em;
}
nav[role=navigation] {
	clear: both;
	-webkit-transition: all 0.3s ease-out;  
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
		
		
@media screen and (min-width: 48.25em) {
	a.menu-link {
		display: none;
	}
	.js nav[role=navigation] {
		max-height: none;
	}		
}

@media screen and (max-width: 520px){
	nav li{
		font-weight:400;
	}
	nav li.current{
		font-weight:600;
	}
	nav > li > a {
		line-height: 3.6em;
	}
	//nav a:first-child {margin-left:-2em;}
}
