
.icon-plus:before { content: '\e818'; } /* '' */
.icon-minus:before { content: '\e819'; } /* '' */
.icon-youtube:before { content: '\e827'; } /* '' */
.icon-up-bold:before { content: '\e82d'; } /* '' */
.icon-home:before { content: '\e81e'; } /* '' */
.icon-cloud:before { content: '\e80c'; } /* '' */
.icon-star:before { content: '\e82f'; } /* '' */
.icon-star-empty:before { content: '\e813'; } /* '' */
.icon-mail:before { content: '\e841'; } /* '' */
.icon-check:before { content: '\e814'; } /* '' */
.icon-cancel:before { content: '\e801'; } /* '' */
.icon-quote-left:before { content: '\e80a'; } /* '' */
.icon-quote-right:before { content: '\e80b'; } /* '' */
.icon-list:before { content: '\e834'; } /* '' */
.icon-cog:before { content: '\e846'; } /* '' */
.icon-lightbulb:before { content: '\e843'; } /* '' */
.icon-pencil:before { content: '\e809'; } /* '' */
.icon-desktop:before { content: '\e844'; } /* '' */
.icon-location:before { content: '\e842'; } /* '' */
.icon-user:before { content: '\e83c'; } /* '' */
.icon-mobile:before { content: '\e845'; } /* '' */
.icon-twitter:before { content: '\e80d'; } /* '' */
.icon-beaker:before { content: '\e840'; } /* '' */
.icon-shop:before { content: '\e826'; } /* '' */
.icon-pinterest:before { content: '\e80f'; } /* '' */
.icon-phone:before { content: '\e838'; } /* '' */
.icon-group:before { content: '\e820'; } /* '' */
.icon-facebook:before { content: '\e80e'; } /* '' */
.icon-asl:before { content: '\e83b'; } /* '' */
.icon-gift:before { content: '\e83a'; } /* '' */
.icon-download-alt:before { content: '\e800'; } /* '' */
.icon-github-text:before { content: '\e811'; } /* '' */
.icon-fire:before { content: '\e821'; } /* '' */
.icon-bookmark:before { content: '\e839'; } /* '' */
.icon-googleplus:before { content: '\e810'; } /* '' */
.icon-cogs:before { content: '\e837'; } /* '' */
.icon-vcard:before { content: '\e83e'; } /* '' */
.icon-address:before { content: '\e836'; } /* '' */
.icon-article-alt:before { content: '\e82a'; } /* '' */
.icon-rss:before { content: '\e806'; } /* '' */
.icon-basket:before { content: '\e816'; } /* '' */
.icon-down-open:before { content: '\e81c'; } /* '' */
.icon-left-open:before { content: '\e81a'; } /* '' */
.icon-right-open:before { content: '\e81d'; } /* '' */
.icon-up-open:before { content: '\e81b'; } /* '' */
.icon-network:before { content: '\e82b'; } /* '' */
.icon-gauge:before { content: '\e83f'; } /* '' */
.icon-spin:before { content: '\e812'; } /* '' */
.icon-menu:before { content: '\e828'; } /* '' */
.icon-globe:before { content: '\e833'; } /* '' */
.icon-award:before { content: '\e82c'; } /* '' */
.icon-droplet:before { content: '\e83d'; } /* '' */
.icon-dollar:before { content: '\e82e'; } /* '' */
.icon-monitor:before { content: '\e832'; } /* '' */
.icon-analytics:before { content: '\e807'; } /* '' */
.icon-chart-bar:before { content: '\e824'; } /* '' */
.icon-download:before { content: '\e802'; } /* '' */
.icon-mobile-1:before { content: '\e831'; } /* '' */
.icon-search:before { content: '\e822'; } /* '' */
.icon-link:before { content: '\e823'; } /* '' */
.icon-chart-area:before { content: '\e808'; } /* '' */
.icon-rocket:before { content: '\e835'; } /* '' */